*{
     font-family: "Rubik Vinyl", serif;    
    
        
        font-weight: 900;
            
    margin: 0;
    padding: 0;
    letter-spacing: 2px;

}

header{
    
    text-align: center;
    background-color: #dfdbdb;
    padding: 14px 0px;
    position: sticky;
    top:0px;
    margin: 0px 0px 50px 0px;
    
}



main {
    display: flex;
    justify-content: center;
    align-items: center;

}

.calender{
    /* height: 100vh; */
    width: 450px;
    padding:50px;
    border: 4px goldenrod double;
    border-radius: 10px;
    
}

.header{
    display: flex;
    justify-content: space-between;
    background-color: rgb(187, 217, 236); 
    padding: 10px;
    border-top-left-radius:10px ;
    border-top-right-radius:10px;
    align-items: center;
    border-left: 3px #eee solid;
        border-right: 3px #eee solid;
        border-top: 3px #eee solid;
    font-weight: 900;
    font-size: 1.3rem;
}

.header button {
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 10px;
    
}

.header button:hover{
    background-color: #e5e5e5;
    cursor: pointer;
}

.weekdays,.days{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    text-align: center;
}

.weekdays div{
    padding:10px 0px;
    background-color: #f9f9f9;
    border-bottom: 2px #ddd solid;
}

.weekdays{
    border-left: 3px #eee solid;
    border-right:3px #eee solid;
    
}

.days div{
    padding: 15px 0px;
    border-bottom: 1px #eee solid;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;

}
.days{
    border-left: 3px #eee solid;
        border-right: 3px #eee solid;
        border-bottom: 3px #eee solid;
}
.days div:hover{
    background-color: #f1f1f1;
}

.current-day{
    background-color: rgb(255, 255, 201);
    border-radius: 10px;
}


footer{
    background-color: black;
    color: #ffffff;
    padding:15px 0px;
    text-align: center;
    margin-top: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    }